<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Mindwell Therapy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/layout.css">
</head>

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/fees">Fees</a></li>
            <li><a href="FAQs">FAQs</a></li>
            <li><a href="/contact">Book/Contact</a></li>
        </ul>
    </nav>
</header>

<main>
